* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    text-decoration: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* -------------------------------------------- Nav ----------------------------------------------- */

body {
    overflow: hidden;
}

nav {
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    box-shadow: -1px 13px 55px -4px rgba(0,0,0,0.39);
}
#nav_btn_container {
    flex: 2;
}

#nav_logo_container {
    flex: 3;
    flex-direction: row;
}

#nav_logo_container img {
    margin-left: 5vw;
    height: 3em;
    width: 3em;
    margin-top: 1.9vh;
}

ul {
    margin-top: 3.7vh;
    padding-top: 6px;
    padding-bottom: 6px;
}

li {
    display: inline;
    padding: 10px;
    margin: 5px;
    color: rgb(43, 43, 43);
    font-weight: 400;
}

li:hover {
    color: black;
    text-decoration-line: underline;
}

li .login_btn {
    padding: 5px;
    background-color: rgb(138, 23, 23);
    color: white;
    border-radius: 10px;
}

#btn:hover #dropdown {
    display: block;
    width: 7em;
    height: 10em;
    background-color: rgb(210, 210, 210);
    position: absolute;
    z-index: 1;
    margin-left: 10vw;
}

#dropdown {
   display: none; 
}
#dropdown > a {
    margin-top: 1em;
    
}
#dropdown > a > p {
    margin-top: 1em;
    margin-left: 1em;
    color: rgb(43, 43, 43);
    font-weight: 400;
}
#dropdown > a:hover > p {
    color: black;
    font-weight: 700;
    text-decoration-line: underline;
}

/* ----------------------------------------- Main Page ----------------------------------------- */

#main_background {
    height: 90vh;
    width: 100vw;
    /* background-color: rgb(255, 222, 222); */
    /* background-image: url(/img/woman-working-on-code-in-office.avif); */
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.4); 
    z-index: 1;
    
}
#nav_phone_btn {
    display: none;
}
#phone_nav {
    display: none;
}
article {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}
section {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    overflow: hidden;
}
section div {
    width: 100vw;
    height: 40vh;
    border-right: 1px solid black;
    overflow: hidden;
}
header {
    width: 100vw;
    height: 40vh;
}
section div p {
    padding: 3vw;
    font-size: 15pt;
    letter-spacing: 1px;
}
article p {
    padding: 3vw;
    font-size: 15pt;
    letter-spacing: 1px;
}
section div h3 {
    margin-left: 3vw;
    margin-top: 3vw;
    font-size: 20pt;
}
article h3 {
    margin-left: 3vw;
    margin-top: 3vw;
    font-size: 20pt;
}
header h1 {
    letter-spacing: 3px;
    padding: 5vw;
    font-size: 30pt;
}
article img {
    margin-left: 5vw;
}
section > div > img {
    margin-left: 3vw;
    width: 42vw;
}
.tile {
    width: 100vw;
    height: 45vh;
}
.tile_owners {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.tile_owners div {
    width: 100%;
    height: 50vh;
    flex: 1;
}
.tile_owners div img {
    width: 20vw;
    height: 20vw;
    margin-left: 2vw;
    border-radius: 10em;
}
.tile iframe {
    margin: 2vw;
}



/* ------------------------------------------------- Media query phone ----------------------------------- */

@media only screen and (max-width: 600px) {
    #nav_btn_container {
        display: none;
    }
    #nav_phone_btn {
        display: block;
        float: right;
        height: 1.5em;
        width: 2em;
        margin-top: 3.8vh;
        margin-right: 9vw;  
    }
   
    #nav_butger_hitbox:focus #phone_nav  {
        display: block;
        background-color: rgb(27, 27, 27);
        width: 100vw;
        height: 30em;
        margin-top: 5em;
        position: fixed;
        z-index: 2;
        margin-right: 100vw;
        
    }
    #nav_logo_container {
        flex: 1;
    }

    #nav_butger_hitbox {
        flex: 3;
    }
    article {
        width: 100vw;
        height: 40vh;
        overflow: hidden;
    }
    section {
        display: flex;
        justify-content: center;
        margin-bottom: 5vh;
        overflow: hidden;
    }
    section div {
        width: 100vw;
        height: 40vh;
        border-right: 0px solid black;
    }

    header {
        width: 100vw;
        height: 40vh;
    }
    section div p {
        padding: 3vw;
        font-size: 12pt;
        letter-spacing: 1px;
    }
    article p {
        padding: 3vw;
        font-size: 12pt;
        letter-spacing: 1px;
    }
    section div h3 {
        margin-left: 3vw;
        margin-top: 3vw;
        font-size: 20pt;
    }
    article h3 {
        margin-left: 3vw;
        margin-top: 3vw;
        font-size: 20pt;
    }
    header h1 {
        letter-spacing: 3px;
        padding: 5vw;
        font-size: 30pt;
    }
    article img {
        display: none;
    }
    section > div > img {
        display: none;
    }
    .tile {
        width: 100vw;
        height: 40vh;
    }
    .tile iframe {
        margin: 2vw;
    }
    
  }
  