* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    text-decoration: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* -------------------------------------------- Nav ----------------------------------------------- */

nav {
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
#nav_btn_container {
    flex: 2;
}

#nav_logo_container {
    flex: 3;
    flex-direction: row;
}

#nav_logo_container img {
    margin-left: 5vw;
    height: 3em;
    width: 3em;
    margin-top: 2vh;
}

ul {
    margin-top: 3.7vh;
    padding-top: 6px;
    padding-bottom: 6px;
}

li {
    display: inline;
    padding: 10px;
    margin: 5px;
    color: rgb(43, 43, 43);
    font-weight: 400;
}

li:hover {
    color: black;
    text-decoration-line: underline;
}

li .login_btn {
    padding: 5px;
    background-color: rgb(138, 23, 23);
    color: white;
    border-radius: 10px;
}

#btn:hover #dropdown {
    display: block;
    width: 7em;
    height: 10em;
    background-color: rgb(210, 210, 210);
    position: absolute;
    z-index: 1;
    margin-left: 10vw;
}

#dropdown {
   display: none; 
}
#dropdown > a {
    margin-top: 1em;
    
}
#dropdown > a > p {
    margin-top: 1em;
    margin-left: 1em;
    color: rgb(43, 43, 43);
    font-weight: 400;
}
#dropdown > a:hover > p {
    color: black;
    font-weight: 700;
    text-decoration-line: underline;
}

/* ----------------------------------------- Main Page ----------------------------------------- */

#main_background {
    height: 90vh;
    width: 100vw;
    /* background-color: rgb(255, 222, 222); */
    background-image: url(/img/woman-working-on-code-in-office.avif);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.4); 
    z-index: 1;
    
}

#download_btn {
    background-color: brown;
    padding: 1em;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: 700;
}
#main_title h1 {
    font-size: 65pt;
    margin-bottom: 1vh;
    color: white;
}
#main_title p {
    font-size: 16pt;
    margin-bottom: 5vh;
    color: white;
    width: 80vw;
}
#main_title {
    margin-left: 5vw;
    position: absolute;
    z-index: 1;
    overflow: visible;
    margin-top: 25vh;
}
#main_title h1 span  {
    color: rgb(255, 0, 0);
}

#users {
    width: 80vw;
    height: 60vh;
    margin-left: 10vw;
    background-color: rgba(0, 0, 0, 0.804);
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}
td {
    width: 20vw;
    height: 6.4vh;
    text-align: center;
    color: white;
    font-weight: 700;
}
td p {
    color: white;
}
td h2 {
    color: white;
}
td h3 {
    color: white;
}

/* --------------------------------------- SECTION 1 --------------------------- */
#section_1 {
    height: 100vh;
    width: 100vw;
    
}
#section_1 h2 {
    text-align: center;
    font-size: 25pt;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#nav_phone_btn {
    display: none;
}
#phone_nav {
    display: none;
}

/* ------------------------------------------------- Media query phone ----------------------------------- */

@media only screen and (max-width: 600px) {
    #nav_btn_container {
        display: none;
    }
    #nav_phone_btn {
        display: block;
        float: right;
        height: 1.5em;
        width: 2em;
        margin-top: 3.8vh;
        margin-right: 9vw;  
    }
   
    #nav_butger_hitbox:focus #phone_nav  {
        display: block;
        background-color: blue;
        width: 50em;
        height: 30em;
        margin-top: 5em;
        position: absolute;
        z-index: 2;
        margin-right: 20em;
    }
  }
  